<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233251124569-lmkgt2ebme36u04trsdpknkghevtlblm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233251124569-lmkgt2ebme36u04trsdpknkghevtlblm</string>
	<key>API_KEY</key>
	<string>AIzaSyD1B9hlt7ddrGMBqzPTsqOUDdXMjtLImkE</string>
	<key>GCM_SENDER_ID</key>
	<string>233251124569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.mhussein.codingChallengeMHussein</string>
	<key>PROJECT_ID</key>
	<string>blog-tacc</string>
	<key>STORAGE_BUCKET</key>
	<string>blog-tacc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233251124569:ios:ebdb738989ea408b628848</string>
</dict>
</plist>